@charset "UTF-8";

/* 
    Tudo que em HTML é id em CSS é #
    Tudo que em HTML é class em CSS é .
*/

body {
    background-color: rgb(171, 255, 196);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

h1 {
    color: rgb(15, 80, 29);
}

h1#principal {
    font-weight: bolder;
    background-color: rgb(11, 97, 0);
    color: white;
    text-align: center;
    font-size: 2.3em;
}

h1#final {
    font-weight: bolder;
    background-color: rgb(97, 155, 89);
    color: white;
    text-align: center;
    font-size: 2.3em;
}

h2 {
    color: rgb(43, 75, 50);
}

p {
    text-align: justify;
    text-indent: 20px;
}

.basico {
    color: rgb(51, 134, 51);
    font-weight: bold;
}

.intermediario {
    color: rgb(184, 184, 54);
    font-weight: bold;
}

.avancado {
    color: rgb(192, 48, 48);
    font-weight: bold;
}

.destaque {
    background-color: rgba(253, 253, 0, 0.795);
}